@model IEnumerable<Client>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    
    if (IsAjax)
    {
        Layout = "";
    }

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @Html.DropDownList("Cities1", ViewBag.Cities as SelectList, "--請選擇--", new { onchange = "location.search = '?city=' + $('#Cities1').val();" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ClientId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ClientId })*@
            @Ajax.ActionLink("Details", "Details", "Clients", new { id = item.ClientId },
            new AjaxOptions{
                    UpdateTargetId = "Detail",
                    Confirm = "確定要看?"
            }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClientId })
        </td>

    </tr>
}
  
</table>

@{
    var data = Model as IPagedList<Client>;
}

@Html.PagedListPager(data, (p) => Url.Action("Index", new { pageNo = p }), 
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing("Main"))

<h4>Client's Order</h4>

<div id="Detail"></div>

